<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safury</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <style>
        /* 추가적인 CSS 스타일을 원하면 여기에 작성하세요 */
    </style>    
</head>
<body>
    <ul style="width: 100%; height: 100%">
        <li id="slide1">
            <div id="content">
                <h1 id="title">SAFURY</h1>
                <p id="description">SAFURY is an audio watermarking program based on FFT(Fast Fourier Transform)<br>
                    It allows you to protect your files by adding your own audio watermark<br>
                    Press START to add audio watermark to your audio files(mp3, wav)</p>
                <button id="start_button" onclick="scroll_down()">START</button>
            </div>
        </li>
        <li id="slide2" style="width: 100%; height: 100%">
            <button id="top_button" onclick="scroll_up()">TOP</button>
            <h1 id="upload_files">Add audio watermark</h1>
            <p>Upload file to add audio watermark</p>
            <form id="form" action="/upload/" method="post" enctype="multipart/form-data">
                <label id="music_file_label" for="music_file">
                    <div id="music_file_name">Click to upload file</div>
                </label>
                <input type="file" name="file" id="music_file" accept=".mp3,.wav" required onchange="updateFileName()">
                <button id="submit_button" type="button" onclick="submit_clicked()">Submit</button>
            </form>
        </li>
        <li id="slide3" style="width: 100%; height: 100%">
            <button id="top_button" onclick="scroll_up()">TOP</button>
            <h1 id="upload_files">Audio watermark inserted</h1>
            <p>Click the button to download the file</p>
            <button id="download_button" type="button" onclick="download_clicked()">Download</button>
        </li>
    </ul>
    <script src="{{ url_for('static', path='script.js') }}">
    // >


    function scroll_elements(translation) {
        const list = document.querySelectorAll('li');
        list.forEach(li => {
            li.style.transform = `translateY(${translation}%)`;
        });
    }

    function scroll_down() {
        scroll_elements(-100);
    }

    function scroll_up() {
        scroll_elements(0);
        location.reload(true);
    }

    function updateFileName() {
        var fileInput = document.getElementById('music_file');
        var fileLabel = document.getElementById('music_file_name');

        fileLabel.innerText = fileInput.files.length > 0
            ? fileInput.files[0].name
            : 'Click to upload file';
    }

    async function submit_clicked() {
        try {
            var fileInput = document.getElementById('music_file');
            var file = fileInput.files[0];
            if (!file) {
                alert('Please select a file.');
                return;
            }

            var formData = new FormData();
            formData.append('file', file);

            const response = await fetch('/upload/', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                alert('File submitted successfully!');
                document.getElementById('upload_files').innerText = 'Audio watermark inserted';
                document.getElementById('download_button').style.display = 'block';
                scroll_elements(-200);
            } else {
                alert('Failed to submit file. Please try again.');
            }

        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function download_clicked() {
        try {
            const response = await fetch('/download/');  // 파일 이름을 제공하세요
            const blob = await response.blob();
            const url = URL.createObjectURL(blob);

            const link = document.createElement('a');
            link.href = url;
            link.download = 'watermarked_audio.wav';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);

        } catch (error) {
            console.error('에러:', error);
        }
    }

    </script>
</body>
</html>
